{% extends 'base.html' %}

{% block content %}

<section>
    <div class="register-wrap animate-box">
        <form id="registration-form" class="form" method="post" action="." >{% csrf_token %}
            <div class="registration-form__wrap">
                <fieldset class="registration-inputs">
                    <h1>Авторизация</h1>
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {{ form.email.errors }}

                    {{ form.password.label_tag }}
                    {{ form.password }}
                    {{ form.password.errors }}
                </fieldset>
            </div>
            <div class="registration-actions__wrap">
                <fieldset class="registration-actions">
                    <input type="submit" id="register" value="ВОЙТИ">
                </fieldset>
            </div>
        </form>
    </div>
</section>

{% endblock %}