{% extends 'base.html' %}

{% block content %}
{% load static %}
<style type="text/css">
    input.hidden {
        position: absolute;
        left: -9999px;
    }
    
    #profile-image1 {
        cursor: pointer;
        width: 100px;
        height: 100px;
        border:2px solid #03b1ce ;
    }
    .tital {
        font-size:16px;
        font-weight:500;
    }
    .bot-border {
        border-bottom: 1px #f8f8f8 solid;
        margin:5px 0  5px 0;
    }    
</style>
<div class="container">
            <div class="row">
                <div class="col-md-7 my-center" style="float: none;margin: 0 auto;">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="box box-info">
                                <div class="box-body">
                                    {% if profile_type == 'patient' %}
                                        <div class="col-sm-6">
                                            <div align="center">
                                                <img alt="User Pic" src="{% get_media_prefix %}{% if patient.profile_image == None %}patients/default_avatar.jpg{% else %}{{ patient.profile_image }}{% endif %}" id="profile-image1" class="img-circle img-responsive">
                                                <form enctype="multipart/form-data" method="post" action="/api/update_profile_image">{% csrf_token %}
                                                    <input id="profile-image-upload" class="hidden" type="file" name="image" accept="image/*" onchange="$(this).closest('form').submit();">
                                                    <script>$(function() {$('#profile-image1').on('click', function() {$('#profile-image-upload').click();});});</script>
                                                </form>
                                                
                                                <div style="color:#999;" >нажмите, чтобы поменять изображение</div>
                                            </div>
                                            <br>
                                        </div>
                                    
                                        <div class="col-sm-6">
                                            <h4 style="color:#00b1b1;">{{ patient.second_name }} {{ patient.name }} {{ patient.third_name }}</h4>
                                            <span><p>Пациент</p></span>            
                                        </div>
                                        <div class="clearfix"></div>
                                        <hr style="margin:5px 0 5px 0;">
                                        <div class="col-sm-5 col-xs-6 tital " >Имя</div><div class="col-sm-7 col-xs-6 ">{{ patient.name }}</div>
                                             <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                        
                                        <div class="col-sm-5 col-xs-6 tital " >Фамилия</div><div class="col-sm-7">{{ patient.second_name }}</div>
                                          <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                        
                                        <div class="col-sm-5 col-xs-6 tital " >Отчество</div><div class="col-sm-7">{{ patient.third_name }}</div>
                                          <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                        
                                        <div class="col-sm-5 col-xs-6 tital " >Дата рождения</div><div class="col-sm-7">{{ patient.birth_date }}</div>
                                        
                                          <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                        
                                        <div class="col-sm-5 col-xs-6 tital " >Адрес</div><div class="col-sm-7">{{ patient.address }}</div>
                                        
                                          <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                        
                                        <div class="col-sm-5 col-xs-6 tital " >Телефон</div><div class="col-sm-7">{{ patient.phone }}</div>
                                    {% elif profile_type == 'doctor' %}
                                        <div class="col-sm-6">
                                            <div align="center">
                                                <img alt="User Pic" src="{% get_media_prefix %}{% if doctor.profile_image == None %}doctors/default_avatar.jpg{% else %}{{ doctor.profile_image }}{% endif %}" id="profile-image1" class="img-circle img-responsive">
                                                <form enctype="multipart/form-data" method="post" action="/api/update_profile_image">{% csrf_token %}
                                                    <input id="profile-image-upload" class="hidden" type="file" name="image" accept="image/*" onchange="$(this).closest('form').submit();">
                                                    <script>$(function() {$('#profile-image1').on('click', function() {$('#profile-image-upload').click();});});</script>
                                                </form>
                                                
                                                <div style="color:#999;" >нажмите, чтобы поменять изображение</div>
                                            </div>
                                            <br>
                                        </div>
                                    
                                        <div class="col-sm-6">
                                            <h4 style="color:#00b1b1;">{{ doctor.second_name }} {{ doctor.name }} {{ doctor.third_name }}</h4>
                                            <span><p>Специалист</p></span>            
                                        </div>
                                        <div class="clearfix"></div>
                                        <hr style="margin:5px 0 5px 0;">
                                        <div class="col-sm-5 col-xs-6 tital " >Имя</div><div class="col-sm-7 col-xs-6 ">{{ doctor.name }}</div>
                                             <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                        
                                        <div class="col-sm-5 col-xs-6 tital " >Фамилия</div><div class="col-sm-7">{{ doctor.second_name }}</div>
                                          <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                        
                                        <div class="col-sm-5 col-xs-6 tital " >Отчество</div><div class="col-sm-7">{{ doctor.third_name }}</div>
                                          <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                        
                                        <div class="col-sm-5 col-xs-6 tital " >Дата рождения</div><div class="col-sm-7">{{ doctor.birth_date }}</div>
                                        
                                          <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                        
                                        <div class="col-sm-5 col-xs-6 tital " >Адрес</div><div class="col-sm-7">{{ patient.address }}</div>
                                        
                                          <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                        
                                        <div class="col-sm-5 col-xs-6 tital " >Телефон</div><div class="col-sm-7">{{ patient.phone }}</div>
                                    {% else %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}